.top-SignUp{
    padding:10px 5px 10px 5px;
    max-width: 650px;
    margin: 0 auto;
    min-height: 50vh;
    font-family: 'Roboto', sans-serif !important;
  	box-sizing: border-box;
}


.top-SignUp{
  margin-top:155px;
  /* align-items: center; */
  /* text-align: center; */
}

@media screen and (max-width: 750px) {
  .top-SignUp {
      margin-top:105px;
  }
}








.SignUp_form {
    
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 4px 3px 20px #3535358c;
    border-radius: 7px;
    box-sizing: border-box;
    /* height: 400px; */
    padding: 40px;
    /* width: 720px; */
  }
  

  .SignUp_logo{
    margin: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content:center;
  }


.SignUp_logo > img{
  height: 4rem;
  display: block;
  align-items: center;
  vertical-align: middle;
}





  .pass_SignUp{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;

  }

.pass_SignUp > p{
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    margin-right: 20px;
}
  .pass_SignUp > Button {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    background-color: #000;
    /* color: #fff; */
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: transparent;
    font-weight: 700;
    font-size:18px;
    border-radius:7px;
  }

  .pass_SignUp > Button:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: transparent;
  }